USE [personal-library]
GO
/****** Object:  User [bulk_import_user]    Script Date: 1/12/2026 1:43:05 PM ******/
CREATE USER [bulk_import_user] FOR LOGIN [bulk_import_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bulk_import_user]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 1/12/2026 1:43:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[birth_date] [date] NULL,
	[nationality] [varchar](50) NULL,
	[AuthorName] [nvarchar](255) NULL,
	[author_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 1/12/2026 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[author_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
	[published_year] [int] NULL,
	[pages] [int] NULL,
	[isbn] [varchar](20) NULL,
	[format] [varchar](50) NULL,
	[condition] [varchar](20) NULL,
	[location] [varchar](100) NULL,
	[date_acquired] [date] NULL,
	[status] [varchar](20) NULL,
	[date_started] [date] NULL,
	[date_completed] [date] NULL,
	[rating] [int] NULL,
	[review] [text] NULL,
	[notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 1/12/2026 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goodreads_library_export]    Script Date: 1/12/2026 1:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goodreads_library_export](
	[Book Id] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[Author l-f] [nvarchar](max) NULL,
	[Additional Authors] [nvarchar](max) NULL,
	[ISBN] [nvarchar](50) NULL,
	[ISBN13] [nvarchar](50) NULL,
	[My Rating] [int] NULL,
	[Average Rating] [float] NULL,
	[Publisher] [nvarchar](max) NULL,
	[Binding] [nvarchar](255) NULL,
	[Number of Pages] [int] NULL,
	[Year Published] [int] NULL,
	[Original Publication Year] [float] NULL,
	[Date Read] [nvarchar](100) NULL,
	[Date Added] [nvarchar](100) NULL,
	[Bookshelves] [nvarchar](max) NULL,
	[Bookshelves with positions] [nvarchar](max) NULL,
	[Exclusive Shelf] [nvarchar](255) NULL,
	[My Review] [nvarchar](max) NULL,
	[Spoiler] [nvarchar](max) NULL,
	[Private Notes] [nvarchar](max) NULL,
	[Read Count] [int] NULL,
	[Owned Copies] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([author_id], [first_name], [last_name], [birth_date], [nationality], [AuthorName], [author_name]) VALUES (9, N'Brandon', N'Sanderson', NULL, NULL, NULL, N'Brandon Sanderson')
INSERT [dbo].[Authors] ([author_id], [first_name], [last_name], [birth_date], [nationality], [AuthorName], [author_name]) VALUES (10, N'Jon', N'Land', NULL, NULL, NULL, N'Jon Land')
INSERT [dbo].[Authors] ([author_id], [first_name], [last_name], [birth_date], [nationality], [AuthorName], [author_name]) VALUES (11, N'Christy', N'Lefteri', NULL, NULL, NULL, N'Christy Lefteri')
GO
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([book_id], [title], [author_id], [genre_id], [published_year], [pages], [isbn], [format], [condition], [location], [date_acquired], [status], [date_started], [date_completed], [rating], [review], [notes]) VALUES (874, N'The Way of Kings (The Stormlight Archive, #1)', 9, 1, 2010, 1007, N'0765326353', N'Hardcover', NULL, NULL, CAST(N'2026-01-09' AS Date), N'to-read', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Books] ([book_id], [title], [author_id], [genre_id], [published_year], [pages], [isbn], [format], [condition], [location], [date_acquired], [status], [date_started], [date_completed], [rating], [review], [notes]) VALUES (875, N'The Eighth Trumpet (Jared Kimberlain, #1)', 10, 1, 1989, 400, N'0449133982', N'Mass Market Paperback', NULL, NULL, CAST(N'2026-01-09' AS Date), N'to-read', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Books] ([book_id], [title], [author_id], [genre_id], [published_year], [pages], [isbn], [format], [condition], [location], [date_acquired], [status], [date_started], [date_completed], [rating], [review], [notes]) VALUES (876, N'The Eighth Trumpet (Jared Kimberlain, #1)', 12, 1, 1989, 400, N'0449133982', N'Mass Market Paperback', NULL, NULL, CAST(N'2026-01-09' AS Date), N'to-read', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([genre_id], [name]) VALUES (1, N'General')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Genres__72E12F1BAEF33878]    Script Date: 1/12/2026 1:43:06 PM ******/
ALTER TABLE [dbo].[Genres] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('Paperback') FOR [format]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('New') FOR [condition]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('Wishlist') FOR [status]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[Authors] ([author_id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([genre_id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [RATING]<=(10)))
GO
